<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div class="toobar-title">
    <span>Preguntas Frecuentes</span>&nbsp;
    <span class="fz14" *ngIf="currentQuestionList && currentQuestionList.updated">(Última actualización: {{currentQuestionList.updated | date: 'dd/MM/yyyy HH:mm'}})</span>
  </div>
  <div fxLayout="row">
    <button mat-icon-button color="primary" matTooltip="Actualizar preguntas" (click)="updateList();">
      <mat-icon>sync</mat-icon>
    </button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" matTooltip="Origen de los datos">
      {{originType[currentOrigin]}}
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeOrigin(originType.JSON);">JSON</button>
      <button mat-menu-item (click)="changeOrigin(originType.MongoDB);">MongoDB</button>
    </mat-menu>
  </div>
</mat-toolbar>
