.content-answer{
  color: #676767;
}

::ng-deep.mat-expansion-panel-header-description,
::ng-deep.mat-expansion-indicator::after {
  color: rgb(103 58 183) !important;
}

::ng-deep.mat-expansion-panel-header-title {
  color: rgba(23, 12, 43, 0.9);
}

::ng-deep.mat-expansion-panel-header {
  border-bottom: 1px solid #e0e0e0;
}

::ng-deep.mat-expansion-panel-header.mat-expanded {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: inherit;
  position: relative;
  border-bottom: 3px solid #673ab7;
}

.empty-txt{
  color: #999999;
}
