<mat-accordion *ngIf="currentQuestionList && currentQuestionList.result && currentQuestionList.result.length > 0">
  <mat-expansion-panel *ngFor="let question of currentQuestionList.result">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question.index}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-answer" [innerHtml]="question.value"></div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="!currentQuestionList || !currentQuestionList.result || currentQuestionList.result.length === 0"
     fxLayout="column" fxLayoutAlign="start center">
  <img src="../../../../../assets/empty.png">
  <h1 class="empty-txt">Sin resultados</h1>
</div>
