<app-header [(currentOrigin)]="currentOrigin" [currentQuestionList]="currentQuestionList"></app-header>
<div class="scroll-content">
  <ngx-simplebar>
    <div fxLayout="column" fxLayoutAlign="start center">
      <app-question-list [currentOrigin]="currentOrigin" [(currentQuestionList)]="currentQuestionList"></app-question-list>
    </div>
  </ngx-simplebar>
</div>

