app-question-list {
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
}

app-header {
  width: 100%;
}

.scroll-content,
ngx-simplebar {
  height: calc(100vh - 66px);
}

::ng-deep.mat-expansion-panel-header-title {
  font-size: 18px !important;
}


::ng-deep body {
  background: #cadaff;
  margin: 0;
}
